<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <ul>
    <li><a href="/about">ABOUT ME</a></li>
    <li><a href="/projects">MY WORK</a></li>
    <li><a href="/contact">HOW TO REACH ME</a></li>
    </ul>
  <div class="container">
  <p>HELLO, MY NAME IS EMEKA AND I AM A FULL STACK WEB DEVELOPER</p>
  </div>

  </body>
</html>
